/* colors */
/*
purple  #9034c7
green  #39ff14
gray  #d3d2d4
*/

body, html {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dark-fg-light-red {
    color: rgba(192, 11, 11, 0.8);
}

.dark-border-light-red {
    border: 2px solid rgba(192, 11, 11, 0.5); 
}

.bg-light-red {
    background-color: rgb(224, 152, 152);
}

.orange {
    color: rgba(189, 103, 6, 0.8);
}

.bg-light-orange {
    background-color: rgb(207, 173, 127);
}

.border-orange {
    border: 2px solid rgba(189, 103, 6, 0.5); 
}

.green {
    color: rgba(25, 102, 9, 0.8);
}

.bg-light-green {
    background-color: rgb(125, 173, 129);
}

.border-green {
    border: 2px solid rgba(25, 102, 9, 0.5); 
}

.blue {
    color: rgba(9, 46, 102, 0.8);
}

.bg-light-blue {
    background-color: rgb(122, 143, 189);
}

.border-blue {
    border: 2px solid rgba(9, 46, 102, 0.5); 
}

.purple {
    color: rgba(62, 8, 83, 0.8);
}

.bg-light-purple {
    background-color: #cdabe0;
}

.border-purple {
    border: 2px solid rgba(62, 8, 83, 0.5); 
}