.blog-post {
    background-color:  black;
    border-radius: 25px;
    padding: 25px;
    width: 90%;
    transition: all .3s ease-in-out;
}

.blog-post:hover {
    transform: scale(1.03);
}

.post-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--theme-purple);
    text-align: center;  
    margin-top: 0; 
}

.post-title:hover {
    color: var(--theme-purple);
}

.post-text {
    font-weight: normal;
    font-size: 25px;
    color: var(--theme-gray);
    text-indent: 0%;
}

.post-title:hover {
    text-decoration: underline;
}

