#navbar-container {
}

#nav-bar {
    color: #d3d2d4;
    margin: 1% 5%;
    display: flex;
    justify-content: space-around;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px;
    padding-bottom: 10px;
    color: #d3d2d4;
    text-decoration: none;
}

.nav-link:hover {
    color: #9034c7;
    cursor: pointer;
}

.cur-link {
    border-bottom: 2px solid #9034c7;
}