.resume-content {
    color: var(--theme-gray);
    margin: 20px 20%;
    text-align: center;
}

#swe-tagline {
    font-size: 2rem;
    margin-bottom: 0;
}

#traits-tagline {
    font-size: 1.5rem;
    color: var(--theme-purple);
    margin-top: 2px;
    margin-bottom: 10px;
}

.resume-section-title {
    text-align: left;
}

.no-margin-b {
    margin-bottom: 0;
}

#skills-table {
    margin-right: 0;
    width: 100%;
}

#download-btn {
    color: var(--theme-gray);
    font-size: 30px;
  
}

#download-btn:hover {
    color: var(--theme-purple);
}

#download-icon {
    margin-top: 30px;
    margin-bottom: 15px;    
}

#linkedin-icon {
    margin-right: 15px;
}

#github-profile-icon {
    background-color: var(--theme-gray);
    border-radius: 20px;
    margin-left: 15px;
}

.hover-grow {
    transition: transform .2s; 
}

.hover-grow:hover {
    transform: scale(1.1);
}
