.resume-content {
    color: #d3d2d4;
    margin: 20px 20%;
    text-align: center;
}

#swe-tagline {
    font-size: 2rem;
    margin-bottom: 0;
}

#traits-tagline {
    font-size: 1.5rem;
    color: #9034c7;
    margin-top: 2px;
}

.resume-section-title {
    text-align: left;
}

.no-margin-b {
    margin-bottom: 0;
}

#skills-table {
    margin-right: 0;
    width: 100%;
}

#download-btn {
    color: #d3d2d4;
    font-size: 30px;
  
}

#download-btn:hover {
    color: #9034c7;
}

#download-icon {
    margin-top: 30px;
    margin-bottom: 15px;    
}