.skill-content {
    text-align: left;
    font-size: 20px;
    margin-left: 50px;
    display: flex;
}

.skill-name {
    color: #d3d2d4;
    width: 25%;
    margin-right: 30px;
    margin-top: 10px;
}

.stars {
    font-size: 40px;
}